<main class="container">
  <h1 class="mb-4">Places</h1>

  <a href="/places/new" class="btn btn-dark mb-4">New Place</a>

  <ul class="list-group">
    <% @places.each do |place| %>
      <li class="list-group-item border-0 p-0">
        <a href="/places/<%= place["id"] %>" class="text-decoration-none"><%= place["name"] %></a>
      </li>
    <% end %>
  </ul>
</main>


